.container{
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.textContainer h1{
    align-self: flex-start;
    margin-top: 30px;
}
.textContainer p{
    font-size: 20px;
    width: 70%;
    text-align: right;
}
