.projectContainer{
    display: flex;
    text-align: left;
    margin: 2rem 0;
    justify-content: space-between;
    background-color: #005a53;
    border-radius: 10px;
    height: 360px;
    opacity: 0.7;
}

.projectContainer:hover{
    opacity: 1;
}

.projectInfo{
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectContainer p {
    font-size: 15px;
}

.projectContainer h3 {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.hashtags{
    display: flex;
    flex-wrap: wrap;
}

.hashtags p{
    color: #141c1f;
}

.hashtags p {
    margin: 0 10px 0 0;
}

.projectLinks{
    display: flex;
    justify-content: space-between;
}

